*~
/*-[0-9][0-9].xml
archive.json
*.cddl
draft-ietf-quic-qlog-h3-events.xml
draft-ietf-quic-qlog-main-schema.xml
draft-ietf-quic-qlog-quic-events.xml
draft-marx-quic-logging-main-schema.xml
Gemfile.lock
/.gems/
*.html
/.idea/
issues.json
*.json
lib
*.lock/lib
/.*.mk
/node_modules/
package-lock.json
*.pdf
pulls.json
*.redxml
.refcache
/.refcache
report.xml
*.swp
.tags
.targets.mk
.travis.yml
*.txt
*.upload
/.venv/
venv/
/versioned/
/.vscode/
!requirements.txt
