*~
/*-[0-9][0-9].xml
*.html
issues.json
*.pdf
pulls.json
*.redxml
.refcache
report.xml
*.swp
.tags
.targets.mk
*.txt
*.upload
venv/
lib
draft-marx-quic-logging-main-schema.xml
.travis.yml
*.cddl
*.json
